:root{
  --background-color: #000000;
  --font-color: #FFFFFF;
  --accent-color:#343a40;
  --dark-accent:#00005e;
  --muted-color: #808080;
  --mono-font: small-caps normal "Liberation Mono" monospace, monospace;
  --menu-color: #0000FF;
  --menu-font-color: #ffffff;
  --jumbotron-padding-y: 3rem;
}
html, body{
  height:100%;
  font-family: "Liberation Sans", sans-serif;
  color: var(--font-color);
  background:var(--background-color);
  
  width:100vw;
  height:auto;
}
.bg-dark{
  background:var(--background-color);
}

.bg-dark-blue{
  background:var(--dark-accent);
}
.card{
  background-color: var(--muted-color);
}
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background:var(--background-color);
}
h1.jumbotron-heading{
  font-size: 3rem;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
  h1.jumbotron-heading{
    font-size: 6rem;
  }
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* ${doomtech} styles */
.doomfooter{
  background-color: var(--background-color);
  border-top: var(--dark-background-color) solid 1rem;
  font-size: 0.8rem;
  text-align: center;
  color: var(--muted-color);
  margin-bottom: 0.01rem;
}
.doomfooter::after {
  content: "${doomtech}";
  height: 1rem;
  width: 100%;
  display: block;
  color: var(--accent-color);
  background:var(--accent-color);
}

#doomtech-console{
  display: block;
  color: var(--font-color);
  background:var(--background-color);
  z-index:100;
  border: solid var(--accent-color) 0.25rem;
  border-top: solid var(--accent-color) 1.5rem;
  height: 50vh;
  width: 80vw;
  position: absolute;
  padding: 0.5rem;
  margin: 1rem;
  margin-top: 10vh;
}

hr{
  color: grey;
  width: 70%;
  opacity: 0.4;
}
.accent-inline-text{
  margin: 0 !important;
  padding: 0 !important;
  color: #0000FF;
}

button.btn-link{
  color: #FFFFFF !important;
  font-weight: bold !important;
}
.btn-outline-secondary{
  color: var(--dark-accent);
}
.card-header{
  background: var(--accent-color);
}

.card-body{
  background-color: var(--dark-accent);
}

.bg-darker{
  background-color: var(--accent-color)
}

.card-body-lite{
  color: var(--background-color);
  background:var(--muted-color);
}

.doom-link{
  color: var(--dark-accent);
  text-decoration: underline;
}

.padded{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
.padded-top{
  padding-top: 10px;
}
.guitar-tab-album{
  text-align: center;
}
.guitar-tab-link{
  padding-top: 10px;
  text-align: center;
}
.modal{
  overflow: auto;
}
.modal-dialog{
  max-width: 90%;
}
.modal-body-lite{
  background:var(--muted-color);
}

@media (min-width: 768px) {
  .guitar-tab-album{
    text-align: left;
  }
  .guitar-tab-link{
    padding-top: 10px;
    text-align: left;
  }
}